---
import PostFeed from '../../components/PostFeed.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getAllPosts } from '../../utils/blog';

const posts = await getAllPosts();
---

<BaseLayout pathname="/blog/">
  <section id="blogListing" class="px-2">
    <h1 class="md:pb-8 md:pt-2 dark:text-indigo-100">All Posts</h1>
    <PostFeed posts={posts} summaryMode="text" />
  </section>
</BaseLayout>
