@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply flex min-h-screen flex-col bg-gray-100 font-sans text-gray-800 dark:bg-gray-800 dark:text-gray-100;
  }

  h1 {
    @apply text-4xl font-semibold;
  }

  h2 {
    @apply text-2xl font-semibold;
  }

  h3 {
    @apply text-xl font-semibold;
  }

  ul {
    list-style-type: disc;
    padding-left: theme('padding.4');
  }

  ul.list-reset {
    list-style-type: none;
  }

  ol {
    list-style-type: decimal;
    padding-left: theme('padding.4');
  }

  blockquote {
    padding-left: theme('padding.4');
    font-style: italic;
    @apply dark:text-gray-100;
  }

  #blogContent p {
    @apply mb-3;
  }

  #blogContent figcaption {
    @apply text-right italic;
  }
  :root[data-theme='dark'] .astro-code,
  .dark .astro-code,
  :root[data-theme='dark'] .astro-code span,
  .dark .astro-code span {
    color: var(--shiki-dark) !important;
    background-color: var(--shiki-dark-bg) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }
}
