---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Page not found" pathname="/404">
  <section className="space-y-4">
    <h1>Not Found</h1>
    <p>The page you were looking for does not exist.</p>
    <a href="/" className="text-indigo-800 underline"> Return home </a>
  </section>
</BaseLayout>
