---
import { siteMetadata } from '../data/siteMetadata';
import { getTaxonomyItems } from '../utils/blog';
import { formatTitleMla } from '../utils/titleCase';
import ThemeToggle from './ThemeToggle.astro';

const categories = await getTaxonomyItems('categories');
---

<nav class="bg-indigo-900 m-0 py-5 px-6 w-full">
  <div class="flex items-center justify-between gap-6 flex-wrap">
    <a href="/" class="!text-gray-100 no-underline text-4xl md:text-5xl">
      {siteMetadata.title}
    </a>
    <div
      class="flex items-center gap-6 text-base md:text-3xl text-gray-100 dark:text-gray-100 flex-wrap justify-center flex-1"
    >
      {
        categories.map((cat) => {
          return (
            <a class="no-underline hover:underline !text-gray-100 !dark:text-gray-100" href={`/category/${cat.slug}/`}>
              {formatTitleMla(cat.name)}
            </a>
          );
        })
      }
      <a class="no-underline hover:underline !text-gray-100 !dark:text-gray-100" href="/about/">About</a>
    </div>
    <ThemeToggle />
  </div>
</nav>
