---
import { siteMetadata } from '../data/siteMetadata';
---

<nav class="bg-indigo-900 text-4xl md:text-5xl m-0 py-5 px-6 w-full">
  <a href="/" class="text-gray-100 no-underline">
    {siteMetadata.title}
  </a>
</nav>
