---
import { siteMetadata } from '../data/siteMetadata';
---

<nav className="bg-indigo-900 text-4xl md:text-5xl m-0 py-5 px-6">
  <a href="/" className="text-gray-100 no-underline">
    {siteMetadata.title}
  </a>
</nav>
